.cardWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 275px;
    gap: 5px;
    border-radius: 20px;
}

.image {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.descWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

