.footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    height: 100px;
    color: white;
    font-weight: 600;
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact {
    display: flex;
    gap:5px;
    align-items: center;
    text-shadow: 1px 1px 1px black;
}