.main {
    display: flex;
    gap: 50px;
    flex-direction: column;
    max-width: 1150px;
    margin: auto;
}

.logosWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
}

.logoWrapper {
    max-width: 175px;
    max-height: 175px;
}

.logo {
    width: 100%;
    height: 100%;
}

@media (max-width:700px) {
    .logoWrapper {
        max-height: 100px;
        max-width: 100px;
    }
    .logosWrapper {
        gap: 20px;
        row-gap: 20px;
    }
}
